@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f9f9fb;
  padding: 1rem 0;
}
.container__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__body {
  width: 95vw;
  height: 75%;
  max-width: 1150px;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3rem #ddd;
}

.title {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: #030545;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  padding: 0.7rem;
  color: #9ea1ba;
}

.contact {
  width: 40%;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contact__info {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem 2rem;
  font-family: "Roboto", "san-serif";
  font-size: 1vw;
}
.contact__stats {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact__stats .all,
.contact__stats .positive,
.contact__stats .negative {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-top: 15px;
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #fff;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  transition: all 0.4s;
}
.contact__stats .all:hover,
.contact__stats .positive:hover,
.contact__stats .negative:hover {
  transform: scale(0.95);
}
.contact__stats .stats__description {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 15px;
  text-align: center;
}
.contact__image {
  width: 100%;
  height: 50%;
  border-radius: 0 0 0 1rem;
  background-image: url("../assets/PCRTest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  color: #fff;
  font-weight: 300;
  font-size: 1vw;
  text-align: center;
  transition: all 6s ease-in-out;
}
.search__group {
  width: 60px;
  background-color: #fff;
  display: flex;
  border-radius: 40px;
  padding: 5px;
  transition: all 0.5s ease-in;
  transition-delay: 0.1s;
  box-shadow: 0 0 15px #fff;
  justify-content: flex-end;
}
.search__input {
  background: transparent;
  outline: none;
  border: none;
  width: 0%;
  transition: all 0.6s ease-in-out;
}
.search__input::placeholder {
  font-size: 0.7rem;
  font-style: italic;
}
.search__label {
  color: #fff;
  background: #ff5e62;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
  flex-shrink: 0;
  transition: all 0.4s;
}
.search__label i {
  transform: rotate(0deg);
  transition: transform 1s ease-out;
}
.search__label:hover {
  cursor: pointer;
  background: teal;
}
.search__label:active {
  transform: scale(0.9);
}

.form {
  width: 60%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 3rem 3rem;
  font-family: "Roboto", "san-serif";
}
.form__row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form__reset {
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  padding: 8px 1rem;
  background: #ff9966;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5e62, #ff9966);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: all 0.3s;
}
.form__reset:hover {
  background: #ff9966;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ff5e62, #ff9966);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ff5e62, #ff9966);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.form__cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
}
.form__cell > label {
  font-size: 1rem;
  color: #888888;
}
.form__cell > label :focus {
  color: #3e1f92;
}
.form__cell > input[type=text], .form__cell > input[type=email] {
  border: none;
  border-bottom: 1.5px solid #ccc;
  outline: none;
  width: 80%;
  padding: 10px 2px 5px;
}
.form__cell > input[type=text]:focus, .form__cell > input[type=email]:focus {
  border-bottom: 1.5px solid #3e1f92;
}
.form__gender > div {
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: 100;
}
.form__gender__male {
  padding-right: 2rem;
}
.form__age > label {
  padding-bottom: 10px;
}
.form__age > input {
  width: 80%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.form__result {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.form__result > select {
  width: 80%;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
}
.form__submit {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  font-weight: 100;
  border: none;
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.form__submit:hover {
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #185a9d, #43cea2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #185a9d, #43cea2);
  color: #fff;
  border-radius: 0%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.form .upload__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.form .upload__label {
  width: 60px;
  display: inline-block;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 1.7rem;
  color: teal;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(35, 155, 144, 0.4) 0px 18px 36px -18px inset;
  transition: all 0.4s;
}
.form .upload__label:hover {
  cursor: pointer;
  border-radius: 0px;
}

.reset {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 2rem;
}

.submit {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 2rem;
  padding-top: 2rem;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.search__result {
  top: 0px;
  animation-name: heartbeat;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
}

@keyframes spinSearch {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

/*# sourceMappingURL=style.css.map */
